<div class="navbar navbar-expand bg-dark">
    <a class="navbar-brand">Dinamic</a>
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" routerLink="/login">Login</a>
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
</div>
