<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form class="form-group" [formGroup]="loginForm" (submit)="formSubmit()">
        <div class="card">
          <h4 class="card-header text-center">Login</h4>
          <div class="card-body">
            <div class="input">
              <label for="username">Email Id</label>
              <input type="email" id="username" formControlName="emailId" class="form-control">
            </div>
            <div class="input">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary" >Login</button>
              </div>
              <div class="col-md-6">
                <p>New User? <a routerLink="/register">Register</a> here</p>
              </div>
            </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <form >
  <div class="row">
      <div class="col-md-6 mx-auto p-0">
          <div class="card">
              <div class="login-box">
                  <div class="login-snip1"> 
                      <div class="login-space">
                         
                          <div class="login">
                              <div class="group"> <label for="user" class="label" style="font-size: x-large;;text-align: center;">Login</label></div>
                              <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" form placeholder="Enter your Email"> </div>
                              <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                              <div class="group"> <input type="submit"  class="button"  value="Sign In"> </div>
  
                              <div class="group"> <a class="button" style="text-align: center ;">Register User</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> 
      </div>
  </div>
  </form> -->