<!-- <div class="navbar navbar-expand bg-dark">
    <a class="navbar-brand">Dinamic</a>
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" routerLink="/login">Login</a>
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
</div> -->

<br>
<div class="container">
<h2>Hi, Welcome to the HomePage</h2>
<p><a routerLink="/login">Click here</a> to login Page</p>
</div>
