<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 ">
            <form class="form-group" [formGroup]="registerForm" (submit)="formSubmit()">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Register</h4>
                    </div>
                    <div class="card-body">
                        <div class="input">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" id="username" class="form-control">
                        </div>
                        <div class="input">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" id="password" class="form-control">
                        </div>
                        <div class="input">
                            <label for="emailId">Email-Id</label>
                            <input type="email" formControlName="emailId" id="emailId" class="form-control">
                        </div>
                        <div class="input">
                            <label for="mobileNo">Mobile No</label>
                            <input type="number" formControlName="mobileNo" id="mobileNo" class="form-control">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="submit"
                                    >Register</button>
                            </div>
                            <div class="col-md-6">
                                <p>Already Registered!! <a routerLink="/login">Login</a> here</p>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>